nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    ul.navbar-nav.me-auto.mb-lg-0
        li.nav-item: a.nav-link(href="/") HOME
        li.nav-item: a.nav-link(href="/test") Test
        li.nav-item: a.nav-link(href="/student") Mi información

